@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {  
  --red-gradient: linear-gradient(
    0deg, rgba(255,230,252,1) 0%, 
    rgba(255,125,152,1) 100%)
}

.text-red {
  color: rgba(255,37,17);
}

.text-gradient {
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(255,0,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(255,255,255,1) 0%,
    rgba(255,0,0,1) 75%);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: var(--red-gradient);
}

.feedback-card:hover {
  background: transparent; 
}

.report-style-class {
  width: 900px;
  height: 700px;
  border: 1px;
}